page-login {
    ion-content {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7249d8+1,9593d9+41,ffffff+100 */
        background: #7249d8; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #7249d8 1%, #9593d9 41%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #7249d8 1%,#9593d9 41%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #7249d8 1%,#9593d9 41%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7249d8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
}
