<ion-header>
  <ion-navbar color='navbar'>
    <ion-title>
      Botón de Pánico
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

    <ion-grid>
      <ion-row>
          <ion-col class="top-20">

            <button (click)='configureAlert()' color='button' ion-button large icon-only style='height: 10em; width: 10em; border-radius: 20%;'>
              <ion-icon name="alert" style="font-size: 4.8em !important;"></ion-icon>
            </button>

          </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>
